extends layout

block content
  h1= title
  p Welcome to #{title}
  h1(id='time-header')

  script.
    function updateTime() {
      document.getElementById('time-header').innerText = '현재 시각은 ' + new Date().toLocaleString();
    }

    updateTime()

    setInterval(() => {
      updateTime()
    }, 1000)

  p ip 주소는 #{ip}

  table(style='width:25%; text-align: center;', border='1')
    tr
      th= '단어'
      th= '뜻'

    each word in words
      tr
        td= word.word
        td= word.meanings

